.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

/* Custom Materialize styles */
nav .brand-logo {
  transform: translateX(-50%);
}

nav .search-icon {
  position: absolute;
  right: 10px;
  color: white;
  cursor: pointer;
  z-index: 100;
}

.main-navigation {
  margin-bottom: 20px;
}

.main-navigation nav {
  transition: 0.5s;
}

.main-navigation .back-arrow {
  position: absolute;
  left: 0;
}

.main-navigation .search {
  position: absolute;
  right: 0;
}

.search #search-autocomplete {
  position: absolute;
  margin: -7px 0 0;
  z-index: 10;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.16);
  max-height: 80%;
  overflow-y: scroll;
}

.search .search-autocomplete-term {
  padding: 15px 25px;
  text-align: left;
  background: rgba(232, 232, 232, 0.9);
  cursor: pointer;
}

.search .search-autocomplete-term:active,
.search .search-autocomplete-term:focus,
.search .search-autocomplete-term:hover {
  background: white;
}