.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

/* Custom Materialize styles */
nav .brand-logo {
  transform: translateX(-50%);
}

nav .search-icon {
  position: absolute;
  right: 10px;
  color: white;
  cursor: pointer;
  z-index: 100;
}

.main-navigation {
  margin-bottom: 20px;
}

.main-navigation nav {
  transition: 0.5s;
}

.back-arrow {
  position: absolute;
  left: 0;
}