.clear {
  width: 100%;
  clear: both;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 0px 0px;
  margin-bottom: 40px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 0px 0px;
  }
}

.bookshelf-title {
  margin-bottom: -10px;
  border-bottom: 2px solid rgba(238,110,115,0.7);
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  color: #ee6e73;
  text-align: center;
  text-transform: uppercase;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('../icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('../icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 10px 0;
  text-align: left;
}

.carousel-item {
  margin-top: -100px;
}

.book {
  width: 140px;
  text-align: center;
  margin: 10px 0;
}

.book-cover.unavailable {
  background-color: #90a4ae;
  width: 140px;
  height: 200px;
}

.book-cover.unavailable:after {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  content: "No book cover available";
  font-weight: 100;
  padding: 20px;
}

.book-cover.active,
.book-cover:active,
.book-cover:focus,
.book-cover:hover {
  box-shadow: 0px 0px 15px #ee6e73;
}

span.badge.new.mature {
  position: absolute;
  top: -5px;
  left: -5px;
  margin: 0;
  background-color: #455a64;
  padding: 0;
  min-width: 1.5rem;
}

span.badge.show-shelf {
  display: inline-block;
  margin: 0 auto;
  float: none;
}

.book-info {
  text-align: center;
}

.book-title,
.book-authors,
.book-date {
  line-height: 1.3rem;
}

.book-authors {
  font-size: 0.8rem;
}

.book-title {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.bookshelf .book-title {
  color: white;
}

.search .book-title {
  color: #424242;
}

.modal .book-title {
  font-size: 1.5rem;
  padding-right: 40px;
  margin-bottom: 20px;
}

.modal .book-subtitle,
.book-single .book-subtitle {
  margin-top: -10px;
  margin-bottom: 20px;
}

.book-authors,
.book-info {
  color: #9e9e9e;
}

.modal .book-authors,
.book-single .book-authors {
  color: #616161;
  font-size: 1rem;
}

.modal-header .modal-close {
  position: absolute;
  top: 22px;
  right: 20px;
}

.modal .book-info,
.book-single .book-info {
  text-align: left;
  padding-bottom: 5px;
  /* margin-left: 20px; */
  margin-bottom: 20px; 
  padding-left: 150px; 
}

.book-single .book-info-footer {
  padding-left: 150px;
}

.modal .book-rating,
.book-single .book-rating {
  margin: 5px 0 0;
}

.modal .book-pagecount,
.book-single .book-pagecount {
  margin: 10px 0 15px;
}

.modal .book-rating-number,
.book-single .book-rating-number {
  position: relative;
  top: -5px;
  margin-left: 10px;
}

.book-description {
  clear: both;
  border-top: 1px solid rgba(0,0,0,0.1);
  /* border-bottom: 1px solid rgba(0,0,0,0.1); */
  padding-bottom: 20px;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(238,110,115,0.8);
  background-image: url('../icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.modal .book-shelf-changer,
.book-single .book-shelf-changer {
  position: static;
  float: left;
  margin-top: 5px;
}

.book-shelf-changer.active {
  background: #ee6e73;
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.book-shelf-changer-text {
  margin: 7px;
  display: inline-block;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
  background-size: cover!important;
  background-position: top center!important;
  /* cursor: pointer; */
}

.modal .book-cover,
.book-single .book-cover {
  float: left;
  margin: 0 20px 20px 0;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.book-favorite {
  position: absolute;
  right: -17px;
  top: -11px;
  cursor: pointer;
  font-size: 2rem;
  color: gold;
}

.modal .book-favorite,
.book-single .book-favorite {
  position: static;
  float: left;
  margin: 2px 20px 0 0;
  background-size: 30px;
}

.book-favorite.active {
  background-image: url('../icons/star.svg');
}

.book-info-footer {
  margin-top: 20px;
}

.modal .book-preview,
.book-single .book-preview {
  float: left;
  margin: 0 20px 20px 0;
  background: white;
  background-image: url('../icons/google-g.svg');
  background-repeat: no-repeat;
  background-position: 12px;
  background-size: 18px;
  padding-left: 35px;
  color: teal;
}

.book-stars {
  display: inline-block;
  color: gold;
}

.star-border {
  width: 24px;
  height: 20px;
  background-image: url('../icons/star-border.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  display: inline-block;
}

.star-half {
  width: 24px;
  height: 20px;
  background-image: url('../icons/star-half.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  display: inline-block;
}

.star-full {
  width: 24px;
  height: 20px;
  background-image: url('../icons/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  display: inline-block;
}

.modal-trigger {
  font-size: 0.8rem;
  /* position: relative; */
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
}

.modal .modal-content {
  padding-bottom: 0;
}

.modal .book-categories {
  text-transform: capitalize;
}

.modal .modal-footer {
  text-align: center;
  margin: 10px 0;
  color: #9e9e9e;
  position: absolute;
}

.modal .modal-footer .modal-close {
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.modal .modal-footer .btn {
  position: absolute;
  right: 10px;
  color: #9e9e9e;
}

.modal .modal-footer .book-rating {
  margin: 0;
  display: block;
}

.modal .modal-footer .book-stars {
  margin: 0;
  color: #bdbdbd;
}

.modal .modal-footer a {
  position: relative;
  /* top: -5px; */
  color: #9e9e9e;
}